<div>
	<div class="first-container">
		<div class="col-md-6">
			Team Members
		</div>
		<div class="col-md-6 customize">
			<button type="button" onclick="location.href = '#/create/';" class="btn btn-primary">Invite Team Member</button>
		</div>
	</div>
	<div class="main-container">
		<app-team-members></app-team-members>
	</div>
	<div class="second-container">
		<div class="col-md-6">
			Pending Members
		</div>
	</div>
	<div class="main-container">
		<app-pending-members></app-pending-members>
	</div>
</div>