<div class="main-container">
	<div class="edit-title">Create Team Member</div>
	<div>Add member information below.</div>
	<div class="edit-field">
		<div>
			First Name
		</div>
		<div>
			<input type="text" name="first_name" ng-model="member.FirstName"/>
		</div>
	</div>
	<div class="edit-field">
		<div>
			Last Name
		</div>
		<div>
			<input type="text" name="last_name" ng-model="member.LastName"/>
		</div>
	</div>
	<div class="edit-field">
		<div>
			User Name
		</div>
		<div>
			<input type="text" name="user_name" ng-model="member.UserName"/>
		</div>
	</div>
	<div class="edit-field">
		<div>
			Email Address
		</div>
		<div>
			<input type="text" name="email" ng-model="member.Email"/>
		</div>
	</div>
	<div class="edit-field">
		<div>
			Password
		</div>
		<div>
			<input type="password" name="password" ng-model="member.Password"/>
		</div>
	</div>
	<div class="edit-field">
		<div>
			Confirm Password
		</div>
		<div>
			<input type="password" name="confirm_password" ng-model="member.ConfirmPassword"/>
		</div>
	</div>
	<div class="edit-field">
		<input type="checkbox" name="receive_admin_emails" ng-model="member.ReceiveEmails"> Receive Admin Emails<br>
	</div>
</div>

<div class="first-container">
	<div class="edit-title">
		Member Permissions
	</div>
	<div>
		<div class="edit-field">
			<input type="checkbox" name="invite" ng-model="member.Invite"> Invite Team Members and Edit Permissions
		</div>
		<div class="edit-field">
			<input type="checkbox" name="administrator" ng-model="member.Role" ng-true-value="'Administrator'" ng-false-value="'Basic'"> Administrator
		</div>
		<div class="edit-field">
			<input type="checkbox" name="basic" ng-model="member.Role" ng-true-value="'Basic'" ng-false-value="'Administrator'""> Basic	
		</div>	
	</div>
</div>

<div class="second-container">
	<div class="button-container">
		<button ng-click="member.InsertData()" class="btn btn-primary">Save</button>
	</div>
	<div class="button-container">
		<a class="link" href="/#/configurations">Cancel</a>
	</div>
</div>
